{% extends "AppSantiago/padre.html" %}


{% load static %}

{% block imagen %}

<img src="{% static 'AppSantiago/assets/img/portfolio/santiago.png' %}" alt="Aboutme" width="140" height="140">

<br>
{% endblock %}

{% block titulo %}

<br>

Acerca  de mi

{% endblock %}

{% block descripcion %}

Santiago Pagola. 
<br>
Soy de Tandil. Soy Contador Público, graduado de la Universidad Nacional del Centro de la Provincia de Buenos Aires (UNICEN).
Trabajo en una empresa de fabricacion de alimentos como Analista de Planeamiento Productivo.  


{% endblock %}